@-webkit-keyframes _idGenKeyFrames-0 {
0% { opacity:0; }
100% { opacity:1; }
} 
@keyframes _idGenKeyFrames-0 {
0% { opacity:0; }
100% { opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-1 {
0% { opacity:0; }
100% { opacity:1; }
} 
@keyframes _idGenKeyFrames-1 {
0% { opacity:0; }
100% { opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-2 {
0% { opacity:0; }
100% { opacity:1; }
} 
@keyframes _idGenKeyFrames-2 {
0% { opacity:0; }
100% { opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-3 {
0% { -webkit-transform:translate(-1px,233px) ; opacity:0; }
9.0909% { -webkit-transform:translate(-1px,175px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(-1px,128px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(0px,90px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(0px,60px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(0px,38px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(0px,22px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(0px,11px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(0px,5px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(0px,1px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-3 {
0% { transform:translate(-1px,233px) ; opacity:0; }
9.0909% { transform:translate(-1px,175px) ; opacity:0.091; }
18.1818% { transform:translate(-1px,128px) ; opacity:0.182; }
27.2727% { transform:translate(0px,90px) ; opacity:0.273; }
36.3636% { transform:translate(0px,60px) ; opacity:0.364; }
45.4545% { transform:translate(0px,38px) ; opacity:0.455; }
54.5455% { transform:translate(0px,22px) ; opacity:0.545; }
63.6364% { transform:translate(0px,11px) ; opacity:0.636; }
72.7273% { transform:translate(0px,5px) ; opacity:0.727; }
81.8182% { transform:translate(0px,1px) ; opacity:0.818; }
90.9091% { transform:translate(0px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-4 {
0% { -webkit-transform:translate(0px,0px) ; opacity:1; }
9.0909% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
18.1818% { -webkit-transform:translate(0px,1px) ; opacity:0.818; }
27.2727% { -webkit-transform:translate(0px,5px) ; opacity:0.727; }
36.3636% { -webkit-transform:translate(0px,11px) ; opacity:0.636; }
45.4545% { -webkit-transform:translate(0px,22px) ; opacity:0.545; }
54.5455% { -webkit-transform:translate(0px,38px) ; opacity:0.455; }
63.6364% { -webkit-transform:translate(0px,60px) ; opacity:0.364; }
72.7273% { -webkit-transform:translate(0px,90px) ; opacity:0.273; }
81.8182% { -webkit-transform:translate(-1px,128px) ; opacity:0.182; }
90.9091% { -webkit-transform:translate(-1px,175px) ; opacity:0.091; }
100% { -webkit-transform:translate(-1px,233px) ; opacity:0; }
} 
@keyframes _idGenKeyFrames-4 {
0% { transform:translate(0px,0px) ; opacity:1; }
9.0909% { transform:translate(0px,0px) ; opacity:0.909; }
18.1818% { transform:translate(0px,1px) ; opacity:0.818; }
27.2727% { transform:translate(0px,5px) ; opacity:0.727; }
36.3636% { transform:translate(0px,11px) ; opacity:0.636; }
45.4545% { transform:translate(0px,22px) ; opacity:0.545; }
54.5455% { transform:translate(0px,38px) ; opacity:0.455; }
63.6364% { transform:translate(0px,60px) ; opacity:0.364; }
72.7273% { transform:translate(0px,90px) ; opacity:0.273; }
81.8182% { transform:translate(-1px,128px) ; opacity:0.182; }
90.9091% { transform:translate(-1px,175px) ; opacity:0.091; }
100% { transform:translate(-1px,233px) ; opacity:0; }
} 
@-webkit-keyframes _idGenKeyFrames-5 {
0% { -webkit-transform:translate(307px,0px) ; opacity:0; }
5.8824% { -webkit-transform:translate(256px,0px) ; opacity:0.059; }
11.7647% { -webkit-transform:translate(211px,0px) ; opacity:0.118; }
17.6471% { -webkit-transform:translate(171px,0px) ; opacity:0.176; }
23.5294% { -webkit-transform:translate(137px,0px) ; opacity:0.235; }
29.4118% { -webkit-transform:translate(108px,0px) ; opacity:0.294; }
35.2941% { -webkit-transform:translate(83px,0px) ; opacity:0.353; }
41.1765% { -webkit-transform:translate(63px,0px) ; opacity:0.412; }
47.0588% { -webkit-transform:translate(46px,0px) ; opacity:0.471; }
52.9412% { -webkit-transform:translate(32px,0px) ; opacity:0.529; }
58.8235% { -webkit-transform:translate(21px,0px) ; opacity:0.588; }
64.7059% { -webkit-transform:translate(14px,0px) ; opacity:0.647; }
70.5882% { -webkit-transform:translate(8px,0px) ; opacity:0.706; }
76.4706% { -webkit-transform:translate(4px,0px) ; opacity:0.765; }
82.3529% { -webkit-transform:translate(2px,0px) ; opacity:0.824; }
88.2353% { -webkit-transform:translate(1px,0px) ; opacity:0.882; }
94.1176% { -webkit-transform:translate(0px,0px) ; opacity:0.941; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-5 {
0% { transform:translate(307px,0px) ; opacity:0; }
5.8824% { transform:translate(256px,0px) ; opacity:0.059; }
11.7647% { transform:translate(211px,0px) ; opacity:0.118; }
17.6471% { transform:translate(171px,0px) ; opacity:0.176; }
23.5294% { transform:translate(137px,0px) ; opacity:0.235; }
29.4118% { transform:translate(108px,0px) ; opacity:0.294; }
35.2941% { transform:translate(83px,0px) ; opacity:0.353; }
41.1765% { transform:translate(63px,0px) ; opacity:0.412; }
47.0588% { transform:translate(46px,0px) ; opacity:0.471; }
52.9412% { transform:translate(32px,0px) ; opacity:0.529; }
58.8235% { transform:translate(21px,0px) ; opacity:0.588; }
64.7059% { transform:translate(14px,0px) ; opacity:0.647; }
70.5882% { transform:translate(8px,0px) ; opacity:0.706; }
76.4706% { transform:translate(4px,0px) ; opacity:0.765; }
82.3529% { transform:translate(2px,0px) ; opacity:0.824; }
88.2353% { transform:translate(1px,0px) ; opacity:0.882; }
94.1176% { transform:translate(0px,0px) ; opacity:0.941; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-6 {
0% { -webkit-transform:translate(0px,0px) ; opacity:1; }
5.8824% { -webkit-transform:translate(0px,0px) ; opacity:0.941; }
11.7647% { -webkit-transform:translate(1px,0px) ; opacity:0.882; }
17.6471% { -webkit-transform:translate(2px,0px) ; opacity:0.824; }
23.5294% { -webkit-transform:translate(4px,0px) ; opacity:0.765; }
29.4118% { -webkit-transform:translate(8px,0px) ; opacity:0.706; }
35.2941% { -webkit-transform:translate(14px,0px) ; opacity:0.647; }
41.1765% { -webkit-transform:translate(21px,0px) ; opacity:0.588; }
47.0588% { -webkit-transform:translate(32px,0px) ; opacity:0.529; }
52.9412% { -webkit-transform:translate(46px,0px) ; opacity:0.471; }
58.8235% { -webkit-transform:translate(63px,0px) ; opacity:0.412; }
64.7059% { -webkit-transform:translate(83px,0px) ; opacity:0.353; }
70.5882% { -webkit-transform:translate(108px,0px) ; opacity:0.294; }
76.4706% { -webkit-transform:translate(137px,0px) ; opacity:0.235; }
82.3529% { -webkit-transform:translate(171px,0px) ; opacity:0.176; }
88.2353% { -webkit-transform:translate(211px,0px) ; opacity:0.118; }
94.1176% { -webkit-transform:translate(256px,0px) ; opacity:0.059; }
100% { -webkit-transform:translate(307px,0px) ; opacity:0; }
} 
@keyframes _idGenKeyFrames-6 {
0% { transform:translate(0px,0px) ; opacity:1; }
5.8824% { transform:translate(0px,0px) ; opacity:0.941; }
11.7647% { transform:translate(1px,0px) ; opacity:0.882; }
17.6471% { transform:translate(2px,0px) ; opacity:0.824; }
23.5294% { transform:translate(4px,0px) ; opacity:0.765; }
29.4118% { transform:translate(8px,0px) ; opacity:0.706; }
35.2941% { transform:translate(14px,0px) ; opacity:0.647; }
41.1765% { transform:translate(21px,0px) ; opacity:0.588; }
47.0588% { transform:translate(32px,0px) ; opacity:0.529; }
52.9412% { transform:translate(46px,0px) ; opacity:0.471; }
58.8235% { transform:translate(63px,0px) ; opacity:0.412; }
64.7059% { transform:translate(83px,0px) ; opacity:0.353; }
70.5882% { transform:translate(108px,0px) ; opacity:0.294; }
76.4706% { transform:translate(137px,0px) ; opacity:0.235; }
82.3529% { transform:translate(171px,0px) ; opacity:0.176; }
88.2353% { transform:translate(211px,0px) ; opacity:0.118; }
94.1176% { transform:translate(256px,0px) ; opacity:0.059; }
100% { transform:translate(307px,0px) ; opacity:0; }
} 
@-webkit-keyframes _idGenKeyFrames-7 {
0% { -webkit-transform:translate(307px,0px) ; opacity:0; }
9.0909% { -webkit-transform:translate(231px,0px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(168px,0px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(118px,0px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(79px,0px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(50px,0px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(29px,0px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(15px,0px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(6px,0px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(2px,0px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-7 {
0% { transform:translate(307px,0px) ; opacity:0; }
9.0909% { transform:translate(231px,0px) ; opacity:0.091; }
18.1818% { transform:translate(168px,0px) ; opacity:0.182; }
27.2727% { transform:translate(118px,0px) ; opacity:0.273; }
36.3636% { transform:translate(79px,0px) ; opacity:0.364; }
45.4545% { transform:translate(50px,0px) ; opacity:0.455; }
54.5455% { transform:translate(29px,0px) ; opacity:0.545; }
63.6364% { transform:translate(15px,0px) ; opacity:0.636; }
72.7273% { transform:translate(6px,0px) ; opacity:0.727; }
81.8182% { transform:translate(2px,0px) ; opacity:0.818; }
90.9091% { transform:translate(0px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-8 {
0% { -webkit-transform:translate(0px,0px) ; opacity:1; }
9.0909% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
18.1818% { -webkit-transform:translate(2px,0px) ; opacity:0.818; }
27.2727% { -webkit-transform:translate(6px,0px) ; opacity:0.727; }
36.3636% { -webkit-transform:translate(15px,0px) ; opacity:0.636; }
45.4545% { -webkit-transform:translate(29px,0px) ; opacity:0.545; }
54.5455% { -webkit-transform:translate(50px,0px) ; opacity:0.455; }
63.6364% { -webkit-transform:translate(79px,0px) ; opacity:0.364; }
72.7273% { -webkit-transform:translate(118px,0px) ; opacity:0.273; }
81.8182% { -webkit-transform:translate(168px,0px) ; opacity:0.182; }
90.9091% { -webkit-transform:translate(231px,0px) ; opacity:0.091; }
100% { -webkit-transform:translate(307px,0px) ; opacity:0; }
} 
@keyframes _idGenKeyFrames-8 {
0% { transform:translate(0px,0px) ; opacity:1; }
9.0909% { transform:translate(0px,0px) ; opacity:0.909; }
18.1818% { transform:translate(2px,0px) ; opacity:0.818; }
27.2727% { transform:translate(6px,0px) ; opacity:0.727; }
36.3636% { transform:translate(15px,0px) ; opacity:0.636; }
45.4545% { transform:translate(29px,0px) ; opacity:0.545; }
54.5455% { transform:translate(50px,0px) ; opacity:0.455; }
63.6364% { transform:translate(79px,0px) ; opacity:0.364; }
72.7273% { transform:translate(118px,0px) ; opacity:0.273; }
81.8182% { transform:translate(168px,0px) ; opacity:0.182; }
90.9091% { transform:translate(231px,0px) ; opacity:0.091; }
100% { transform:translate(307px,0px) ; opacity:0; }
} 
@-webkit-keyframes _idGenKeyFrames-9 {
0% { -webkit-transform:translate(307px,0px) ; opacity:0; }
9.0909% { -webkit-transform:translate(231px,0px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(168px,0px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(118px,0px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(79px,0px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(50px,0px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(29px,0px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(15px,0px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(6px,0px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(2px,0px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-9 {
0% { transform:translate(307px,0px) ; opacity:0; }
9.0909% { transform:translate(231px,0px) ; opacity:0.091; }
18.1818% { transform:translate(168px,0px) ; opacity:0.182; }
27.2727% { transform:translate(118px,0px) ; opacity:0.273; }
36.3636% { transform:translate(79px,0px) ; opacity:0.364; }
45.4545% { transform:translate(50px,0px) ; opacity:0.455; }
54.5455% { transform:translate(29px,0px) ; opacity:0.545; }
63.6364% { transform:translate(15px,0px) ; opacity:0.636; }
72.7273% { transform:translate(6px,0px) ; opacity:0.727; }
81.8182% { transform:translate(2px,0px) ; opacity:0.818; }
90.9091% { transform:translate(0px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-10 {
0% { -webkit-transform:translate(0px,0px) ; opacity:1; }
9.0909% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
18.1818% { -webkit-transform:translate(2px,0px) ; opacity:0.818; }
27.2727% { -webkit-transform:translate(6px,0px) ; opacity:0.727; }
36.3636% { -webkit-transform:translate(15px,0px) ; opacity:0.636; }
45.4545% { -webkit-transform:translate(29px,0px) ; opacity:0.545; }
54.5455% { -webkit-transform:translate(50px,0px) ; opacity:0.455; }
63.6364% { -webkit-transform:translate(79px,0px) ; opacity:0.364; }
72.7273% { -webkit-transform:translate(118px,0px) ; opacity:0.273; }
81.8182% { -webkit-transform:translate(168px,0px) ; opacity:0.182; }
90.9091% { -webkit-transform:translate(231px,0px) ; opacity:0.091; }
100% { -webkit-transform:translate(307px,0px) ; opacity:0; }
} 
@keyframes _idGenKeyFrames-10 {
0% { transform:translate(0px,0px) ; opacity:1; }
9.0909% { transform:translate(0px,0px) ; opacity:0.909; }
18.1818% { transform:translate(2px,0px) ; opacity:0.818; }
27.2727% { transform:translate(6px,0px) ; opacity:0.727; }
36.3636% { transform:translate(15px,0px) ; opacity:0.636; }
45.4545% { transform:translate(29px,0px) ; opacity:0.545; }
54.5455% { transform:translate(50px,0px) ; opacity:0.455; }
63.6364% { transform:translate(79px,0px) ; opacity:0.364; }
72.7273% { transform:translate(118px,0px) ; opacity:0.273; }
81.8182% { transform:translate(168px,0px) ; opacity:0.182; }
90.9091% { transform:translate(231px,0px) ; opacity:0.091; }
100% { transform:translate(307px,0px) ; opacity:0; }
} 
@-webkit-keyframes _idGenKeyFrames-11 {
0% { -webkit-transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { -webkit-transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { -webkit-transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { -webkit-transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { -webkit-transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { -webkit-transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { -webkit-transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { -webkit-transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { -webkit-transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { -webkit-transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
100% { -webkit-transform:translate(0px,0px) ; opacity:1; }
} 
@keyframes _idGenKeyFrames-11 {
0% { transform:translate(-1px,-233px) ; opacity:0; }
9.0909% { transform:translate(-1px,-175px) ; opacity:0.091; }
18.1818% { transform:translate(-1px,-128px) ; opacity:0.182; }
27.2727% { transform:translate(0px,-90px) ; opacity:0.273; }
36.3636% { transform:translate(0px,-60px) ; opacity:0.364; }
45.4545% { transform:translate(0px,-38px) ; opacity:0.455; }
54.5455% { transform:translate(0px,-22px) ; opacity:0.545; }
63.6364% { transform:translate(0px,-11px) ; opacity:0.636; }
72.7273% { transform:translate(0px,-5px) ; opacity:0.727; }
81.8182% { transform:translate(0px,-1px) ; opacity:0.818; }
90.9091% { transform:translate(0px,0px) ; opacity:0.909; }
100% { transform:translate(0px,0px) ; opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-12 {
0% { -webkit-transform:translate(0px,0px) ; opacity:1; }
9.0909% { -webkit-transform:translate(0px,0px) ; opacity:0.909; }
18.1818% { -webkit-transform:translate(0px,-1px) ; opacity:0.818; }
27.2727% { -webkit-transform:translate(0px,-5px) ; opacity:0.727; }
36.3636% { -webkit-transform:translate(0px,-11px) ; opacity:0.636; }
45.4545% { -webkit-transform:translate(0px,-22px) ; opacity:0.545; }
54.5455% { -webkit-transform:translate(0px,-38px) ; opacity:0.455; }
63.6364% { -webkit-transform:translate(0px,-60px) ; opacity:0.364; }
72.7273% { -webkit-transform:translate(0px,-90px) ; opacity:0.273; }
81.8182% { -webkit-transform:translate(-1px,-128px) ; opacity:0.182; }
90.9091% { -webkit-transform:translate(-1px,-175px) ; opacity:0.091; }
100% { -webkit-transform:translate(-1px,-233px) ; opacity:0; }
} 
@keyframes _idGenKeyFrames-12 {
0% { transform:translate(0px,0px) ; opacity:1; }
9.0909% { transform:translate(0px,0px) ; opacity:0.909; }
18.1818% { transform:translate(0px,-1px) ; opacity:0.818; }
27.2727% { transform:translate(0px,-5px) ; opacity:0.727; }
36.3636% { transform:translate(0px,-11px) ; opacity:0.636; }
45.4545% { transform:translate(0px,-22px) ; opacity:0.545; }
54.5455% { transform:translate(0px,-38px) ; opacity:0.455; }
63.6364% { transform:translate(0px,-60px) ; opacity:0.364; }
72.7273% { transform:translate(0px,-90px) ; opacity:0.273; }
81.8182% { transform:translate(-1px,-128px) ; opacity:0.182; }
90.9091% { transform:translate(-1px,-175px) ; opacity:0.091; }
100% { transform:translate(-1px,-233px) ; opacity:0; }
} 
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
#_idContainer000 {
	-ms-transform:translate(2.000px,2.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2.000px,2.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:841.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2.000px,2.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.000px,2.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:595.20px;
}
#_idContainer001 {
	-ms-transform:translate(2.000px,2.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(2.000px,2.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:841.99px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2.000px,2.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.000px,2.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:595.25px;
}
#_idContainer002, #_idContainer004, #_idContainer018 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:841.99px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:595.25px;
}
#_idContainer003, #_idContainer005, #_idContainer019 {
	height:842px;
	left:2px;
	position:absolute;
	top:2px;
	width:595px;
}
#_idContainer006 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:351.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:518.44px;
}
#_idContainer007 {
	height:352px;
	left:37px;
	position:absolute;
	top:236px;
	width:518px;
}
#_idContainer008 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:289.47px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:457.96px;
}
#_idContainer009 {
	height:289px;
	left:2px;
	position:absolute;
	top:331px;
	width:458px;
}
#_idContainer010 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:177.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:516.04px;
}
#_idContainer011 {
	height:177px;
	left:12px;
	position:absolute;
	top:210px;
	width:516px;
}
#_idContainer012 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:120.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:459.40px;
}
#_idContainer013 {
	height:120px;
	left:79px;
	position:absolute;
	top:223px;
	width:459px;
}
#_idAudio000 {
	-ms-transform:translate(13.755%,0.000%) rotate(0.000deg) skew(0.000deg) scale(0.724,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(13.755%,0.000%) rotate(0.000deg) skew(0.000deg) scale(0.724,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	object-fit:fill;
	transform:translate(13.755%,0.000%) rotate(0.000deg) skew(0.000deg) scale(0.724,1.000);
	transform:translate(13.755%,0.000%) rotate(0.000deg) skew(0.000deg) scale(0.724,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
#_idContainer014 {
	-ms-transform:translate(275.599px,820.748px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(275.599px,820.748px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:14.92px;
	left:0px;
	overflow:hidden;
	position:absolute;
	text-align:left;
	top:0px;
	transform:translate(275.599px,820.748px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(275.599px,820.748px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:20.58px;
}
#_idContainer015 {
	-ms-transform:translate(286.726px,163.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(286.726px,163.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:34.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(286.726px,163.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(286.726px,163.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:118.57px;
}
#_idContainer016 {
	-ms-transform:translate(128.452px,163.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(128.452px,163.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:34.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(128.452px,163.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(128.452px,163.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:118.57px;
}
#_idContainer017 {
	-ms-transform:translate(445.000px,163.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(445.000px,163.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:34.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(445.000px,163.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(445.000px,163.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:118.57px;
}
#_idContainer020 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:191.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:496.36px;
}
#_idContainer021 {
	height:191px;
	left:25px;
	position:absolute;
	top:77px;
	width:496px;
}
#_idContainer022, #_idContainer024, #_idContainer026, #_idContainer028, #_idContainer030, #_idContainer032 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:27.27px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:41.45px;
}
#_idContainer023, #_idContainer025 {
	-ms-transform:translate(245.276px,171.174px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(245.276px,171.174px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:27.27px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(245.276px,171.174px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(245.276px,171.174px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:41.45px;
}
#_idContainer027, #_idContainer029 {
	-ms-transform:translate(405.296px,172.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(405.296px,172.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:27.27px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(405.296px,172.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(405.296px,172.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:41.45px;
}
#_idContainer031 {
	-ms-transform:translate(78.599px,171.174px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(78.599px,171.174px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:27.27px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(78.599px,171.174px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(78.599px,171.174px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:41.45px;
}
#_idContainer033 {
	-ms-transform:translate(78.599px,172.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(78.599px,172.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:27.27px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(78.599px,172.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(78.599px,172.535px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:41.45px;
}
#_idContainer034, #_idContainer035, #_idContainer041, #_idContainer042, #_idContainer044, #_idContainer045, #_idContainer047, #_idContainer048 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:31.31px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:29.73px;
}
#_idContainer036 {
	-ms-transform:translate(58.410px,306.210px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(58.410px,306.210px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:31.31px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(58.410px,306.210px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(58.410px,306.210px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:29.73px;
}
#_idContainer037, #_idContainer038, #_idContainer039 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.67px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:28.28px;
}
#_idContainer040 {
	-ms-transform:translate(173.599px,378.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(173.599px,378.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:32.67px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(173.599px,378.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(173.599px,378.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:28.28px;
}
#_idContainer043 {
	-ms-transform:translate(68.887px,582.274px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(68.887px,582.274px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:31.31px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(68.887px,582.274px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(68.887px,582.274px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:29.73px;
}
#_idContainer046 {
	-ms-transform:translate(158.735px,267.355px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(158.735px,267.355px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:31.31px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(158.735px,267.355px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(158.735px,267.355px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:29.73px;
}
#_idContainer049 {
	-ms-transform:translate(296.182px,342.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(296.182px,342.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:31.31px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(296.182px,342.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(296.182px,342.668px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:29.73px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectAttribute-3 {
	height:15px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:21px;
}
div._idGenPlayAnimation-1 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-0;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-0;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-2 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-1;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-1;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-3 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-2;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-2;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-4 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-3;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-3;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-5 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-4;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-4;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-6 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.750s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-5;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.750s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-5;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-7 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.750s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-6;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.750s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-6;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-8 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-7;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-7;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-9 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-8;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-8;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-10 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-9;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-9;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-11 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-10;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-10;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-12 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-11;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-11;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-13 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:0.500s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-12;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:0.500s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-12;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-1 {
	opacity:0;
}
div._idGenAnimationStart-2 {
	-webkit-transform:translate(307px,0px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(307px,0px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-3 {
	-webkit-transform:translate(-1px,233px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(-1px,233px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-4 {
	-webkit-transform:translate(-1px,-233px) ;
	-webkit-transform-origin:50% 50%;
	opacity:0;
	transform:translate(-1px,-233px) ;
	transform-origin:50% 50%;
}
div._idGenAnimationEnd-1 {
	opacity:1;
}
div._idGenAnimationEnd-2 {
	-webkit-transform:translate(0px,0px) ;
	-webkit-transform-origin:50% 50%;
	opacity:1;
	transform:translate(0px,0px) ;
	transform-origin:50% 50%;
}
div._idGenButton div._idGen-Appearance-Normal {
	visibility:visible;
}
div._idGenButton div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton {
	cursor:pointer;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Rollover {
	visibility:visible;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Click {
	visibility:visible;
}
div._idGenStateHide div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenStateHide, div._idGenStateHide *{
	visibility:hidden;
}
